@model IEnumerable<Lab1.Pizzeria>

@{
    ViewData["Title"] = "Pizzerias";
}

<h1>Pizzeria list</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead style="background: orange;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PizzeriaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzeriaInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzeriaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzeriaInfo)
                </td>
                <td>
                    <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a type="button" class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id" asp-route-name="@item.PizzeriaName">Details</a> |
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    <div id="chart2"></div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/PizzeriaReviews/JsonData', function (jsonData) {
                data = google.visualization.arrayToDataTable(jsonData, false);
                var option = {
                    title: "Number of reviews in pizzerias comparison",
                    width: 500,
                    height: 500
                };
                chart = new google.visualization.PieChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}
